.introPage{
      color: black; 
      height: 92vh;
      margin: 0px;
      padding: 0px;
      width: 100vw;
      background-image: linear-gradient(to right, #11998E , #38EF7D);   
}

.getStarted{
    display: flex;
    justify-content: center;
    align-items: center;

}

.getStarted a{
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 4px;
    margin-top: 50vh;
    width: 10vw;
    height: 5vh;
    border: 1px solid white;
    font-weight: 700;
    background-color: #38EF7D;
}

.introTitle{
    width: 100vw;

    margin: 0px;
    color: white;
    position: relative;
    top: 20vh;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
}
.introSubTitle{
    margin: 0px;
    color: white;
    position: relative;
    width: 100vw;
    text-align: center;
    top: 20vh;
    font-weight: 600;
    font-size: 40px;
    
}

.introText{
    margin-top: 0px;
    width: 100vw;
    color: white;
    position: relative;
    text-align: center;
    top: 20vh;
    font-weight: 400;
    font-size: 20px;
    
}

/* iPad */
@media screen and (max-width: 1024px) {
    .introPage{
        color: black; 
        height: 92vh;
        margin: 0px;
        padding: 0px;
        width: 100vw;
        background-image: linear-gradient(to right, #11998E , #38EF7D);
  }
  
  .getStarted{
    display: flex;
    justify-content: center;
    align-items: center;

}

.getStarted a   {
    margin-top: 50vh;
    width: 20vw;
    font-size: larger;
    height: 5vh;
    background-color: #38EF7D;
}
  
}




/* Mobile */
@media screen and (max-width: 768px) {
    .introPage{
        color: black; 
        height: 92vh;
        padding: 0px;
        width: 100vw;
        background-image: linear-gradient(to right, #11998E , #38EF7D);
  }
  .introTitle{
    width: 100vw;
    margin: 0px;
    color: white;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    position: relative;
    top: 2vh;
}
.introSubTitle{
    margin: 0px;
    color: white;
    width: 100vw;
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    position: relative;
    top: 2vh;    
}

.introText{
    width: 100vw;
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    position: relative;
    top: 2vh;
}
.getStarted{
    display: flex;
    justify-content: center;
    align-items: center;

}

.getStarted a{
    margin-top: 10vh;
    width: 30vw;
    background-color: #38EF7D;
}

}